.register-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 50%;
    background-color: rgba(34, 34, 34, 0.12);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.switch-mode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.switch-mode-container p { 
    margin: -.45rem;
}

.input-title {
    margin-top: -2.5rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.register-container { 
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    align-items: center; 
}