.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.shopping-card {
    background: var(--background);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 3px solid transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}


.shopping-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-column {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-right: 20px;
}

.shopping-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.extensions-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.extensions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.extension-item {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.95rem;
    position: relative;
}

.extension-item.active {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
}

.extension-item.inactive {
    background: rgba(255, 255, 255, 0.05);
    color: grey;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.remove-btn:hover {
    background: #1c1c1c;
}

.empty-cart {
    text-align: center;
    font-size: 1.5rem;
    color: var(--foreground);
    margin-top: 20px;
}

.price-list {
    margin-left: 2rem;
    margin-top: 20px;
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-list h4 {
    font-weight: bold;
}

.price-list ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.price-list li {
    margin-bottom: 5px;
}

.price-list p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}
